.vscode/
data.txt
model.txt
GT.txt
data/
model/
groundtruth/
output_0.01.txt
output_0.03.txt
output_0.05.txt

build/
CMakeFiles/
cmake-build-*/

*.o
*.a
*.so
*.dll
*.exe
*.out

GoICL
GoL2P
GoP2P
Refinement

*~
*.swp

.vscode/
.idea/

model_0.01.txt
output.txt
result
result.txt
resultA
results.txt
generate_line.ipynb
cube.sh
config_2d.txt
include/idx2pos.hpp
include/KDTree.hpp
include/l2l_2d_fitting.hpp
include/l2l_2d.hpp
include/line_2d.hpp
include/subbranch.hpp
src/idx2pos.cpp
src/KDTree.cpp
src/l2l_2d_fitting.cpp
src/l2l_2d_main.cpp
src/l2l_2d.cpp
src/line_2d.cpp
src/subbranch.cpp